* {
  box-sizing: border-box;
}
#ArticleContainer {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  border: 5px ridge rgb(243, 17, 14);
}
.AddArticle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.AddArticle input, .AddArticle textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 5px;
}
.AddArticle input[type='submit']:hover{
  color:rgb(241, 238, 238);
  background-color:crimson;
  border: 2px dotted rgb(236, 230, 230);
}
.AddArticle input[type='submit'] {
  padding: 5px;
  background-color: rgb(255, 238, 47);
  color: red;
  border: 2px dotted red;
  cursor: pointer;
}
h1 { text-align: center; 
  color: rgb(247, 246, 241);
  text-shadow: 1px 1px 1px #fa0a0a;
}
article {
  padding: 10px;
  border: 1px solid rgb(176, 167, 167);
  margin: 10px auto 20px;
  width: 100%;
  color:rgb(247, 246, 241);
  text-shadow: 1px 1px 1px #fa0a0a;
}
article h2 {
  color: rgb(247, 246, 241);
  font-size: 30px;
  margin: 5px 0;
}
article button {
  width: 50px;
  margin: 0 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
article .delete {color: red;
text-decoration: underline;
margin-right: 10px;

}
article .edit {color:rgb(28, 22, 97);
  text-decoration: underline;
}
article .cancel {color: orange;
  text-decoration: underline;
}